<html>
    <head>
        <link rel="stylesheet" href="static/style.css"></link>

        <title>
            Temperature Conversion
        </title>
    </head>

    <body>
        <p>
        <h1>Convert from Far to Cel</h1>
<form method="GET" action="farToCel">
    Enter Temperature in Far:
    
    <input type="number" required name="far" step="0.01">
    <br><br>
    <input type="submit" value="Far to Cel">
</form>
</p>

<p>
    <h1>Convert from Cel to Far</h1>
<form method="GET" action="celToFar">
Enter Temperature in Cel:

<input type="number" required name="cel" step="0.01">
<br><br>
<input type="submit" value="Cel to Far">
</form>
</p>
    </body>
</html>